<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FIXOT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KIC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Oula.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Sharq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tijari.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Waseet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2243ED5A1FD15DDF00FDECAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AD9BE820AAC001001CED50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AEBD6C20B29C6400920D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AEBE0A20B29E5200920D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AEBEA820B29EE600920D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AEBF4620B29F7A00920D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
