<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241478561477-e6blelj28bd6ji5m02e5r3fdiq9h0egc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241478561477-e6blelj28bd6ji5m02e5r3fdiq9h0egc</string>
	<key>API_KEY</key>
	<string>AIzaSyB3eV17DboTZ2Qow_2WPJjFJmLUy7gSND4</string>
	<key>GCM_SENDER_ID</key>
	<string>241478561477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingo.calgary</string>
	<key>PROJECT_ID</key>
	<string>hashem-canada</string>
	<key>STORAGE_BUCKET</key>
	<string>hashem-canada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241478561477:ios:d3c833e9b4c0b4fb478aac</string>
</dict>
</plist>