<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241478561477-fbavubu2u6iuruqn2q33cl01t3qbt1cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241478561477-fbavubu2u6iuruqn2q33cl01t3qbt1cl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3eV17DboTZ2Qow_2WPJjFJmLUy7gSND4</string>
	<key>GCM_SENDER_ID</key>
	<string>241478561477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canada.home</string>
	<key>PROJECT_ID</key>
	<string>hashem-canada</string>
	<key>STORAGE_BUCKET</key>
	<string>hashem-canada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:241478561477:ios:007e55d2de411d17478aac</string>
</dict>
</plist>
