<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookStore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Calgaryi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CanadaHome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HriseFinder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TeachMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22AD9BE820AAC001001CED50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0EC362253B5F2900940FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F1C55F926CB21190046B204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F49786124A6973800DCADD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F95D4D2255C4050007CAD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAAC22A255F37BE00CA9C84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC84941252D063500290501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF172432576A19200492EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF1728D2576A1B100492EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
